<div class="jumbotron">
  <h2>Find and Connect with others that have similar aspirations!</h2>
  <p class="lead">Create what you want to get better at below</p>

  <div class="row">
    <form class="form-inline" role="form">
          <input type="text" class="form-control input-lg" placeholder="I want to make 300 recipes in 365 days...">
      <button type="submit" class="btn btn-lg btn-success">Set Goal</button>
    </form>
  </div>
</div>
