<% if goal == @current_goal %>
  <div class="current">
  <div class="bg_fade"></div>
<% end %>
<li id="goal_<%= goal.id %>">
  <button type="button" class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-arrow-up"></span>
  </button>
    <button type="button" class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-arrow-down"></span>
  </button>
  <%= goal.goal %> <%= link_to "(remove)", goal, method: :delete, remote: true %>
</li>
