<% if goal == @current_goal %>
<ol class="current goal_<%= goal.id %>">
  <div class="bg_fade"></div>
<% else %>
<ol class="goal_<%= goal.id %>">
<% end %>
  <%= goal.goal %> <%= link_to "(remove)", goal, method: :delete, remote: true %>
</ol>
