<div class="jumbotron">
  <h2>Find and Connect with others that have similar aspirations!</h2>
  <p class="lead">Create what you want to get better at below</p>

  <div class="row">

    <%= render 'shared/goals_form' %>

  </div>
</div>

